form {
  display: inline-block;
  margin: 15px;
}

form input {
  text-align: center;
  color: #596aca;
  font-size: 20px;
  border-radius: 5px;
  border-color: #000000;
}

h1 {
  color: #142691;
  font-size: 60px;
}

h2 {
  color: #08426e;
  font-size: 40px;
}

h3 {
  margin: 50px 0;
}

a {
  color: #08426e;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.app-wrapper {
  max-width: 515px;
  margin: 30px auto;
}

.weather-app {
  font-family: inherit;
  padding: 20px;
  border: 1px solid #006ec5;
  border-radius: 5px;
  text-align: center;
  background-color: lightseagreen;
}

.form {
  display: block;
  text-align: center;
}

.todayInfo {
  line-height: 10px;
}

.description {
  font-size: 30px;
}

.row {
  text-align: center;
}

.units {
  font-size: 15px;
  position: relative;
  top: -15px;
}

.active {
  color: #08426e;
  cursor: default;
}

.active:hover {
  text-decoration: none;
}

.measures {
  font-size: 18px;
  text-align: center;
}

.col-2 {
  margin-left: 9px;
}
